# Categorical variables in Pandas

- toc: true
- badges: true
- comments: true
- categories: [python, pandas]

In [2]:
from imports import *

%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

ModuleNotFoundError: No module named 'linearmodels'

In [51]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

Inspect memory usage

In [53]:
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

Inspect memory usage by column

In [57]:
drinks.memory_usage(deep='true')

Index                             128
country                         12588
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                       12332
dtype: int64

Convert country to category type

In [61]:
drinks.continent = drinks.continent.astype('category')

In [62]:
drinks.memory_usage(deep='true')

Index                             128
country                         18094
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         744
dtype: int64

In [65]:
drinks.continent.cat.categories

Index(['Africa', 'Asia', 'Europe', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [67]:
df = pd.DataFrame({'id':[1, 2, 3, 4, 5], 'quality':['good', 'excellent', 'very good', 'excellent', 'good']})
df

   id    quality
0   1       good
1   2  excellent
2   3  very good
3   4  excellent
4   5       good

In [68]:
df.sort_values('quality')

   id    quality
1   2  excellent
3   4  excellent
0   1       good
4   5       good
2   3  very good

In [79]:
from pandas.api.types import CategoricalDtype
quality_cat = CategoricalDtype(['good', 'very good', 'excellent'], ordered=True)
df.quality = df.quality.astype(quality_cat)
df

   id    quality
0   1       good
1   2  excellent
2   3  very good
3   4  excellent
4   5       good

In [80]:
df.quality

0         good
1    excellent
2    very good
3    excellent
4         good
Name: quality, dtype: category
Categories (3, object): [good < very good < excellent]

In [85]:
dummies = pd.get_dummies(df.quality)
df = pd.concat([df, dummies], axis=1)
df

   id    quality  good  very good  excellent
0   1       good     1          0          0
1   2  excellent     0          0          1
2   3  very good     0          1          0
3   4  excellent     0          0          1
4   5       good     1          0          0

## Sources

- [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)