# Multiindexing in Pandas
> Notes on working with hierarchical indices in Pandas

- toc: true 
- badges: true
- comments: true
- categories: [python, pandas]

Working with indices, expecially column indices, and especially with hierarchical ones, is an area of Pandas I keep finding perplexing. The point of this notebook is to help my future self.

In [54]:
from imports import *

%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [85]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Stacking and unstacking column labels

In [62]:
df = df.set_index('species')
df.head()

         sepal_length  sepal_width  petal_length  petal_width
species
setosa            5.1          3.5           1.4          0.2
setosa            4.9          3.0           1.4          0.2
setosa            4.7          3.2           1.3          0.2
setosa            4.6          3.1           1.5          0.2
setosa            5.0          3.6           1.4          0.2

In [63]:
tups = [tuple(name.split('_')) for name in df.columns]
colnames = pd.MultiIndex.from_tuples(tups)
df.columns = colnames
df.head()

         sepal        petal
        length width length width
species
setosa     5.1   3.5    1.4   0.2
setosa     4.9   3.0    1.4   0.2
setosa     4.7   3.2    1.3   0.2
setosa     4.6   3.1    1.5   0.2
setosa     5.0   3.6    1.4   0.2

In [64]:
df.columns = ['_'.join(name) for name in df.columns]
df = df.reset_index()
df.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

## Use column values as column label

...

## Sources

- [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
- [Pandas cookbook](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#multiindexing)