# Counting number of equal adjacent values

- toc: false
- badges: true
- comments: true
- categories: [pandas]

## Problem

Count the number of adjacent equal values in a series.

In [55]:
import pandas as pd

df = pd.DataFrame([0, 1, 5, 7, 7, 1, 1, 1, 0, 1, 1], columns=['a'])
df

    a
0   0
1   1
2   5
3   7
4   7
5   1
6   1
7   1
8   0
9   1
10  1

## Answer

Only slightly adapted from [this](https://stackoverflow.com/a/29143354/13666841) Stack Overflow answer.

In [32]:
df['count'] = df.groupby((df.a != df.a.shift()).cumsum()).cumcount().add(1)
df

    a  count
0   0      1
1   1      1
2   5      1
3   7      1
4   7      2
5   1      1
6   1      2
7   1      3
8   0      1
9   1      1
10  1      2

## How it works

Demark group boundaries by checking for different preceeding value

In [71]:
df.a != df.a.shift()

0      True
1      True
2      True
3      True
4     False
5      True
6     False
7     False
8      True
9      True
10    False
Name: a, dtype: bool

Label groups using cumulative counting

In [63]:
(df.a != df.a.shift()).cumsum()

0     1
1     2
2     3
3     4
4     4
5     5
6     5
7     5
8     6
9     7
10    7
Name: a, dtype: int64

Group dataset by labelled groups

In [70]:
for idx, data in df.groupby((df.a != df.a.shift()).cumsum()):
    display(data)
    print()

   a
0  0

   a
1  1

   a
2  5

   a
3  7
4  7

   a
5  1
6  1
7  1

   a
8  0

    a
9   1
10  1

Generate a cumulative count for each group

In [68]:
df.a.groupby((df.a != df.a.shift()).cumsum()).cumcount()

0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     2
8     0
9     0
10    1
dtype: int64