# Pandas essentials

- hide: true
- sticky_rank: 1
- toc: true
- comments: true
- categories: [python, pandas]

In [1]:
from imports import *

%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_parquet(SAMPLEDATA)
print(df.shape)
df.head(3)

(157287, 22)

,user_id,transaction_date,amount,transaction_description,merchant_name,tag,gender,up_tag,account_id,year_of_birth,merchant_business_line,salary_range,latest_balance,account_type,credit_debit,transaction_id,bank,postcode,ym,account_created,user_registration_date,account_last_refreshed
0,777,2012-01-03,3.03,aviva pa - d/d,aviva,life insurance,m,life insurance,262916,1969.0,aviva,20k to 30k,364.22,current,debit,688262,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
1,777,2012-01-03,6.68,"9572 31dec11 , tesco stores 3345 , warrington gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688263,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
2,777,2012-01-03,10.27,"9572 30dec11 , mcdonalds , restaurant , winwick road gb - pos",mcdonalds,dining and drinking,m,dining and drinking,262916,1969.0,mcdonalds,20k to 30k,364.22,current,debit,688264,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00

In [9]:
df.iloc[0, 0] = np.nan
df.dropna()

,user_id,transaction_date,amount,transaction_description,merchant_name,tag,gender,up_tag,account_id,year_of_birth,merchant_business_line,salary_range,latest_balance,account_type,credit_debit,transaction_id,bank,postcode,ym,account_created,user_registration_date,account_last_refreshed
1,777.0,2012-01-03,6.68,"9572 31dec11 , tesco stores 3345 , warrington gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688263,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
2,777.0,2012-01-03,10.27,"9572 30dec11 , mcdonalds , restaurant , winwick road gb - pos",mcdonalds,dining and drinking,m,dining and drinking,262916,1969.0,mcdonalds,20k to 30k,364.22,current,debit,688264,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
3,777.0,2012-01-03,12.00,"9572 31dec11 , tesco stores 3345 , warrington gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688265,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
4,777.0,2012-01-03,400.00,<mdbremoved> - s/o,no merchant,other account,m,other account,262916,1969.0,non merchant mbl,20k to 30k,364.22,current,debit,688261,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
5,777.0,2012-01-04,8.74,"9572 03jan12 , tesco-stores sacat, sale gb - pos",tesco,"food, groceries, household",m,"food, groceries, household",262916,1969.0,tesco supermarket,20k to 30k,364.22,current,debit,688267,natwest bank,wa1 4,201201,2011-07-20,2011-07-20,2020-07-21 20:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157282,579777.0,2020-07-01,85.00,<mdbremoved>,no merchant,transfers,m,transfers,1655945,1986.0,non merchant mbl,20k to 30k,6684.43,current,debit,793743159,halifax personal banking,m4 6,202007,2020-04-07,2020-04-07,2020-07-05 06:34:00
157283,579777.0,2020-07-01,474.54,halifax,halifax,personal loan,m,personal loan,1655945,1986.0,halifax,20k to 30k,6684.43,current,debit,793743154,halifax personal banking,m4 6,202007,2020-04-07,2020-04-07,2020-07-05 06:34:00
157284,579777.0,2020-07-01,750.00,<mdbremoved>,no merchant,transfers,m,transfers,1655945,1986.0,non merchant mbl,20k to 30k,6684.43,current,debit,793743157,halifax personal banking,m4 6,202007,2020-04-07,2020-04-07,2020-07-05 06:34:00
157285,579777.0,2020-07-02,-27.98,payment received - thank you,no merchant,credit card,m,credit card,1655946,1986.0,account provider,20k to 30k,-30.80,credit card,credit,794507339,halifax personal banking,m4 6,202007,2020-04-07,2020-04-07,2020-07-05 06:34:00
157286,579777.0,2020-07-02,60.00,bulb energy,no merchant,"energy - gas, elec, other",m,"energy - gas, elec, other",1655945,1986.0,no merchant business line,20k to 30k,6684.43,current,debit,794296457,halifax personal banking,m4 6,202007,2020-04-07,2020-04-07,2020-07-05 06:34:00

## Questions

## True of False

## Fluency exercises

## Topics

#### Groupby

Create a dictionary from groups based on column types:

In [34]:
df = sns.load_dataset('iris')
pieces = dict(list(df.groupby('species')))
pieces['setosa'][:3]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [ ]:
df.dtypes

## Topics

## Sources

- [Fluent Python](https://www.oreilly.com/library/view/fluent-python/9781491946237/)
- [Python Cookbook](https://www.oreilly.com/library/view/python-cookbook-3rd/9781449357337/)
- [Learning Python](https://www.oreilly.com/library/view/learning-python-5th/9781449355722/)
- [The Hitchhiker's Guide to Python](https://docs.python-guide.org/writing/structure/)
- [Effective Python](https://effectivepython.com)
- [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
- [Python Data Science Handbook](https://www.oreilly.com/library/view/python-data-science/9781491912126/)