# Regular expressions

- hide: true
- toc: true
- badges: true
- comments: true
- categories: [python]

In [2]:
from imports import *

%config InlineBackend.figure_format = 'retina'
%load_ext autoreload
%autoreload 2

In [3]:
path = '/Users/fgu/tmp/data_777.csv'
df = pd.read_csv(path, sep='|')

In [14]:
a = 'b'
f'he {a}'

'he b'

In [18]:
[str(n) for n in range(1, 10)]

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [12]:
with open(path) as f:
    next(f)
    line = f.readline()
    
    pattern = '"\d+"\|"(?P<user_id>\d+)"'
    match = re.match(pattern, line)
    print(line)
    print(match)
    print(match.group('user_id'))

"688293"|"777"|"2011-07-20"|"1969"|"20K to 30K"|"WA1 4"|"E01012553"|"E02002603"|"M"|"2012-01-25"|"262916"|"NatWest Bank"|"Current"|"364.22"|"9572 24jan12 , tcs bowdon , bowdon gb - pos"|"Debit"|"25.03"|"No Tag"|"No Tag"|"No Tag"|"No Merchant"|"Unknown Merchant"|"2011-07-20"|"2020-07-21 20:32:00"|"2014-07-18"|"2017-10-24"|"U"

<re.Match object; span=(0, 14), match='"688293"|"777"'>
777

In [ ]:
re.Match.group

In [40]:
def colname_cleaner(df):
    """Convert column names to stripped lowercase with underscores."""
    df.columns = df.columns.str.lower().str.strip()
    return df

def str_cleaner(df):
    """Convert string values to stripped lowercase."""
    str_cols = df.select_dtypes('object')
    for col in str_cols:
        df[col] = df[col].str.lower().str.strip()
    return df
    
movies = (data.movies()
          .pipe(colname_cleaner)
          .pipe(str_cleaner))
movies.head(2)

,title,us gross,worldwide gross,us dvd sales,production budget,release date,mpaa rating,running time min,distributor,source,major genre,creative type,director,rotten tomatoes rating,imdb rating,imdb votes
0,the land girls,146083.0,146083.0,NaN,8000000.0,jun 12 1998,r,NaN,gramercy,None,None,None,None,NaN,6.1,1071.0
1,"first love, last rites",10876.0,10876.0,NaN,300000.0,aug 07 1998,r,NaN,strand,None,drama,None,None,NaN,6.9,207.0

In [48]:
import re

## Finding a single pattern in text

In [63]:
pattern = 'hello'
text = 'hello world it is a beautiful day.'

match = re.search(pattern, text)
match.start(), match.end(), match.group()

(0, 5, 'hello')

In Pandas

In [67]:
movies.title.str.extract('(love)')

         0
0      NaN
1     love
2      NaN
3      NaN
4      NaN
...    ...
3196   NaN
3197   NaN
3198   NaN
3199   NaN
3200   NaN

[3201 rows x 1 columns]

- `contains()`: Test if pattern or regex is contained within a string of a Series or Index.
- `match()`: Determine if each string starts with a match of a regular expression.
- `fullmatch()`: 
- `extract()`: Extract capture groups in the regex pat as columns in a DataFrame.
- `extractall()`: Returns all matches (not just the first match).
- `find()`: 
- `findall()`:
- `replace()`:

In [47]:
movies.title.replace('girls', 'hello')

0                   the land girls
1           first love, last rites
2       i married a strange person
3             let's talk about sex
4                             slam
                   ...
3196    zack and miri make a porno
3197                        zodiac
3198                          zoom
3199           the legend of zorro
3200             the mask of zorro
Name: title, Length: 3201, dtype: object

Let's drop all movies by distributors with "Pictures" and "Universal" in their title.

In [108]:
# inverted masking

names = ['Universal', 'Pictures']
pattern = '|'.join(names)
mask = movies.distributor.str.contains(pattern, na=True)
result = movies[~mask]
result.head(2)

,title,us_gross,worldwide_gross,us_dvd_sales,production_budget,release_date,mpaa_rating,running_time_min,distributor,source,major_genre,creative_type,director,rotten_tomatoes_rating,imdb_rating,imdb_votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,Jun 12 1998,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,Aug 07 1998,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0

In [112]:
# negated regex

names = ['Universal', 'Pictures']
pattern = '\|'.join(names)
neg_pattern = f'[^{pattern}]'
neg_pattern
mask = movies.distributor.str.contains(neg_pattern, na=False)
result2 =movies[mask]

In [113]:
neg_pattern

'[^Universal\\|Pictures]'

In [114]:
result == result2

ValueError: Can only compare identically-labeled DataFrame objects

In [ ]:
def drop_card_repayments(df):
    """Drop card repayment transactions from current accounts."""
    tags = ['credit card repayment', 'credit card payment', 'credit card']
    pattern = '|'.join(tags)
    mask = df.auto_tag.str.contains(pattern) & df.account_type.eq('current')
    return df[~mask]

## Sources

- [Fluent Python](https://www.oreilly.com/library/view/fluent-python/9781491946237/)
- [Python Cookbook](https://www.oreilly.com/library/view/python-cookbook-3rd/9781449357337/)
- [Learning Python](https://www.oreilly.com/library/view/learning-python-5th/9781449355722/)
- [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
- [Python Data Science Handbook](https://www.oreilly.com/library/view/python-data-science/9781491912126/)